// Resets, Clearfix, etc

@import "./_reset"
@import "./_clearfix";

// Variables

$dark-color : #333333;
$light-color : #FF1493;
$bright-color : #2C75FF;
$padding : 10rem;
 
// Media Query Ranges 
 
@media 

// Mixins

// Styles
body{
  background: $dark-color;
  text-align: center;
  color: #EEE;
}
 
h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
 
h1{
  color: #F1F1F1;
  padding: 20px;
}
 
h2{
 
}
 
 
.block_family{
  max-width:350px;
  margin:auto;
}
 
.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}
